{% include "navbar.html" %}

{% for message in messages %}
                       
<center>                        
<div class="alert alert-success" role="alert">
  <h5>{{message}}</h5>  
  </div>
{% endfor %}
</center>  

 <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
            
  <h3 class="w3-wide w3-center" style="margin-top: -15px;">Pending Orders</h3>

  <table class="table">
    <thead class="table-dark">
      <tr>
        
        
        
        
        <th scope="col">Size</th>
        <th scope="col">Colour</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col">Ordered Date</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Status</th>
        <th scope="col">Payment</th>

        
        
      </tr>
    </thead>
   
    
       
    <tbody>
      {% for order in orders %}
      <tr>
        {% if order.delivered  == "NotDelivered" and order.verified  == "NotReceived" %}
        {% if user.username == order.username %}
    
   
    
 
     
       
        <td>  {{ order.size }}</td>
        <td>  {{ order.colour }}</td>
        <td>  {{ order.quantity }}</td>
        <td>  {{ order.Total }}</td>
        <td>  {{ order.ordered_date }}</td>
        <td>  {{ order.delivered_date }}</td>
        <td>  {{ order.delivered }}</td>
        <td> <button class="btn btn-info btn-md" style="width: 123px; background-color: purple;"><a href="/order/paypal/{{ order.id }}">Pay with Khalti</a></button> 
          <button class="btn btn-info btn-md" style="width:123px;background-color:  #BD1E51;"><a href="/order/userordersdelete/{{ order.id }}">Delete</a></button></td>
            {% endif %} 
            {% endif%}
         
      </tr>
     
      {% if order.verified  == "Received" and order.delivered  == "NotDelivered" %}
      {% if user.username == order.username %}

      

  
   
     
   
      <td>  {{ order.size }}</td>
      <td>  {{ order.colour }}</td>
      <td>  {{ order.quantity }}</td>
      <td>  {{ order.Total }}</td>
    
      <td>  {{ order.ordered_date }}</td>
      <td>  {{ order.delivered_date }}</td>
      <td>  {{ order.delivered }}</td>
      <td> <button class="btn btn-info btn-md" style="width:120px;background-color: teal;">Advance Paid</a></button></td>
         
          {% endif %}
      {% endif %}
    </tr>
 
    {% endfor %}
    <h3 class="btn btn-info btn-md" style="background-color: teal;">Total Orders:  {{ count}}</h3> &nbsp;
    <h3 class="btn btn-info btn-md" style="background-color: teal;">Total Purchase: Rs. {{ sum }}</h3>  <br>
    </tbody>
  </table>


</div>  
