{% include "navbar.html" %}
{% load static %}

    
<title>Gomadevi Sweater Uudhyog</title>

  <!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('edxww7ge7vy8');
</script>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:750px" id="contact">
    <h2 class="w3-wide w3-center" sstyle="margin-top: -15px;">CONTACT US</h2><br><br><br>

    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i>Manmaiju Tarakeswor<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: <br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: gomadevisweaters@gmail.com<br>
        <br>
      
      </div>
      <div class="w3-col m6">
        <form action="contactus" method="post">
          {% csrf_token %}
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Phone" required name="phone">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->
<img src="{% static 'image/map.png' %}" class="w3-image w3-greyscale-min" style="width:95%;margin-left: 40;margin-right: 20;">

<!-- Footer -->
<hr>
{% include "footer.html" %}