{% include "navbar.html" %}
{% block content %} 
<title>Gomadevi Sweater Uudhyog</title>
{% for message in messages %}
<h4  class="w3-wide w3-center">
    <p style="color:red">
         {{message}}</p>
      {% endfor %}
    </h4>

          <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
            
            <h2 class="w3-wide w3-center" style="margin-top: -15px;">Training  Details</h2>
           
        <table class="table">
            
               
          <tbody>
              <table class="table">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">Booked ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Contact Number</th>
                      <th scope="col">Location</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                 
                  
                     
                  <tbody>
                    {% for tr in train %}
                    <tr>
                      
                      <td scope="row">{{ tr.id }}</td>
                      
                      <td> {{ tr.name }}</td>
                      <td>  {{ tr.email }}</td>
                      <td>  {{ tr.contact }}</td>
                      <td>  {{ tr.location }}</td>
                      <td> <button class="btn btn-info btn-md" style="width:80px;background-color: rgb(252, 132, 132);"><a href="/delete/{{ tr.id }}">Delete</a></button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </tbody>
        </table> 

 
            
          </div>
          
{% endblock %}            
