 @keyframes slider {
            0%{
                left: 0;
            }
            20%{
                left: 0;
            }
            25%{
                left: -100%;
            }
            45%{
                left: -100%;
            }
            50%{
                left: -200%;
            }
            70%{
                left: -200%;
            }
            75%{
                left: -300%;
            }
            95%{
                left: -300%;
            }
            100%{
                left: -400%
            }
        }
        .slider-container{
            height: 65vh;
            width: 100%;
        }
        .slider-container #slider{
            overflow: hidden;
            width: 100%;
        }
        .slider-container #slider figure img{
            height: 65vh;
            object-fit: cover;
            width: 20%;
            float: left;
            background-color: rgba(169, 169, 169, 0.466);
        }
        .slider-container #slider figure{
            position: relative;
            width: 500%;
            margin: 0;
            left: 0;
            text-align: left;
            font-size: 0;
            animation: 20s slider infinite;
        }
.slider-container2{
    margin-top: 5px;
            padding:10px 300px 20px 300px;
            height: 0vh;
            width: 100%;
            background-color: rgb(209, 199, 199);

        }
        .slider-container2 #slider2{
            overflow: hidden;
            width: 100%;
        }
        .slider-container2 #slider2 figure img{
            height: 57vh;
            object-fit: cover;
            width: 20%;
            float: left;
            background-color: rgba(169, 169, 169, 0.466);
        }
        .slider-container2 #slider2 figure{
            position: relative;
            width: 500%;
            margin: 0;
            left: 0;
            text-align: left;
            font-size: 0;
            animation: 20s slider infinite;
        }